<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/admin/adminSidebar.css">
    <link rel="icon" href="/images/logo.png" type="image/icon type" />
    <title>Add Reward</title>
</head>
<body>
    <div th:replace="~{/admin/sidebar :: sidebar}"></div>

    <section id="content">
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Add Reward</h1>
                </div>
            </div>

            <div class="form-container">
                <form th:action="@{/Admin/addReward}" th:object="${reward}" method="post">
                    <div>
                        <label for="taskCondition">Task Condition:</label>
                        <input type="text" id="taskCondition" name="taskCondition" th:field="*{taskCondition}" required>
                    </div>
                    <div>
                        <label for="reward">Reward:</label>
                        <input type="text" id="reward" name="reward" th:field="*{reward}" required>
                    </div>
                    <div>
                        <button type="submit">Add Reward</button>
                    </div>
                </form>
            </div>
        </main>
        <!-- MAIN -->
    </section>
</body>
</html>
