<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/admin/adminSidebar.css">

    <link rel="icon" href="/images/logo.png" type="image/icon type" />
    <title>Admin Profile</title>

</head>
<body>
    <div th:replace="~{/admin/sidebar :: sidebar}"></div>
  
    <section id="content">
		<!-- NAVBAR -->
		<!-- <nav>
			<i class='bx bx-menu'></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn" title="submit"><i class='bx bx-search'></i></button>
				</div>
			</form>
			 <a href="profileAdmin.html" class="profile"> profile icon
				<img src="/static/images/profile.jpg" alt="profile">
			</a> -->
		<!-- </nav> --> 
		<!-- NAVBAR -->
		

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Admin Profile</h1>
			
				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Admin Profile </h3>

					</div>
					<div>
                        <p>ID: <span th:text="${userId}"></span></p>
                        <p>Name: <span th:text="${name}"></span></p>
                        <p>Phone: <span th:text="${phone}"></span></p>
                        <p>Username: <span th:text="${username}"></span></p>
                        
                        
                    </div>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>



</body>
</html>