<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="/css/forms.css" />
    <script>
        window.onload = function() {
            var form = document.querySelector('form');
            var usernameInput = document.getElementById('username');
            var passwordInput = document.getElementById('password');

            form.addEventListener('submit', function(event) {
                if (!validateUsername(usernameInput.value) || !validatePassword(passwordInput.value)) {
                    event.preventDefault();
                    return false;
                }
            });

            function validateUsername(username) {
                if (username.trim() === '') {
                    alert('Please enter your username.');
                    return false;
                }
                return true;
            }

            function validatePassword(password) {
                if (password.trim() === '') {
                    alert('Please enter your password.');
                    return false;
                }
                return true;
            }
        };
    </script>
</head>
<body>
    <h1>Admin Login</h1>
    <form action="/Admin/login" th:object="${admin}" method="post" class="form-container">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="oval-input" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="oval-input" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-submit">Login</button>
        </div>
    </form>
</body>
</html>
