<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/admin/adminSidebar.css">

    <link rel="icon" href="/images/logo.png" type="image/icon type" />
    <title>All Admins</title>
</head>
<body>
    <div th:replace="~{/admin/sidebar :: sidebar}"></div>
  
    <section id="content">
       
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>All Admins</h1>
                </div>
            </div>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Pomodoro All Admins</h3>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="admin : ${admins}">
                                <td th:text="${admin.Id}"></td>
                                <td th:text="${admin.Name}"></td>
                                <td th:text="${admin.Phone}"></td>
                                <td th:text="${admin.getuserName()}"></td>
                                <td>
                                    <a th:href="@{/Admin/deleteAdmin(id=${admin.id})}" class="btn-delete">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
</body>
</html>
