<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, height=device-height,  initial-scale=1.0, "
  />
    <title>Create Task</title>
</head>
<body>
    <h1>Create Task</h1>
    <form th:action="@{/tasks/create}" th:object="${task}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required/><br/>
        
        <label for="focusDuration">Focus Duration (minutes):</label>
        <input type="number" id="focusDuration" th:field="*{focusDuration}" required/><br/>
        
        <label for="breakDuration">Break Duration (minutes):</label>
        <input type="number" id="breakDuration" th:field="*{breakDuration}" required/><br/>
        
        <button type="submit">Create</button>
    </form>
</body>
</html>