
<!DOCTYPE html>

<html lang="en" >
  <head>
    <meta charset="utf-8" />
<meta name="viewport"
  content="width=device-width, height=device-height,  initial-scale=1.0, "
/>

<link rel="stylesheet" href="/demo/src/main/resources/static/css/user/homepage.css" />

<link rel="manifest" href="/manifest.json" />

<link
  rel="icon"
  type="image/png"
  href="/favicon-16x16.png"
  sizes="16x16"
/>
<link
  rel="icon"
  type="image/png"
  href="/favicon-32x32.png"
  sizes="32x32"
/>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<meta property="og:title" content="Pomofocus" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://pomofocus.io" />
<meta
  property="og:image"
  content="https://pomofocus.io/images/ogimage.png"
/>

<!-- Saashub -->
<meta name="saashub-verification" content="292uvoz7flke" />

    <title>Pomodoro Timer Online - Pomofocus</title>
    <meta
      name="description"
      content="A simple Pomodoro Timer app that works on a desktop & mobile browser. Pomofucus will help you manage your time and let you focus on any tasks such as study, writing, or coding."
    />
  </head>
  <body ontouchstart="">
    <main>
      <div id="target">
        <div class="spinner__wrapper">
          <img class="spinner__img" src="/demo/src/main/resources/static/css/user/images/icon-white2.png" / placeholer="img" title="img">
          <div class="spinner__text">Loading...</div>
        </div>
      </div>

      <div class="heroimage container">
        <h1 class="heroimage__title">
          An online Pomodoro Timer to boost your productivity
        </h1>
        <!-- <image src="/images/heroimage2.png" class="heroimage__img"></image> -->
      </div>

      <div class="catchcopy container">
        <h2 class="catchcopy__header">What is Pomofocus?</h2>
        <p class="catchcopy__text">
          Pomofocus is a customizable pomodoro timer that works on
          desktop & mobile browser. The aim of this app is to help you
          focus on any task you are working on, such as study,
          writing, or coding. This app is inspired by
          <a
            href="https://www.pomodorotechnique.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Pomodoro Technique</a
          >
          which is a time management method developed by Francesco
          Cirillo.
        </p>
      </div>

      <div class="pomodoro container">
        <h2 class="catchcopy__header">What is Pomodoro Technique?</h2>
        <p class="catchcopy__text">
          The Pomodoro Technique is created by Francesco Cirillo for a
          more productive way to work and study. The technique uses a
          timer to break down work into intervals, traditionally 25
          minutes in length, separated by short breaks. Each interval
          is known as a pomodoro, from the Italian word for 'tomato',
          after the tomato-shaped kitchen timer that Cirillo used as a
          university student. -
          <a
            href="https://en.wikipedia.org/wiki/Pomodoro_Technique"
            target="_blank"
            rel="noopener noreferrer"
            >Wikipedia</a
          >
        </p>
      </div>

      <div class="pomodoro container">
        <h2 class="catchcopy__header">
          How to use the Pomodoro Timer?
        </h2>
        <ol class="features__list-ol">
          <li><strong>Add tasks</strong> to work on today</li>
          <li>
            <strong>Set estimate pomodoros</strong> (1 = 25min of
            work) for each tasks
          </li>
          <li><strong>Select a task</strong> to work on</li>
          <li>
            <strong>Start timer</strong> and focus on the task for 25
            minutes
          </li>
          <li>
            <strong>Take a break</strong> for 5 minutes when the alarm
            ring
          </li>
          <li>
            <strong>Iterate</strong> 3-5 until you finish the tasks
          </li>
        </ol>
      </div>

      <div class="features container">
        <h2 class="catchcopy__header">Basic Features</h2>
        <ul class="features__list">
          <li>
            <strong>Estimate Finish Time:</strong> Get an estimate of
            the time required to complete your daily tasks.
          </li>
          <li>
            <strong>Add Templates:</strong> Save your repetitive tasks
            as templates and add them with just one click.
          </li>
          <li>
            <strong>Visual Reports:</strong> See how much time you've
            focused each day, week, and month.
          </li>
          <li>
            <strong>Custom Settings:</strong> Personalize your
            focus/break time, alarm sounds, background sounds, and
            more.
          </li>
        </ul>
      </div>

      <div class="features container">
        <h2 class="catchcopy__header">Premium Features</h2>
        <ul class="features__list">
          <li>
            <strong>Add Projects:</strong> Track how much time you
            spend on each project.
          </li>
          <li>
            <strong>Yearly Reports:</strong> View your focus hours for
            each year.
          </li>
          <li>
            <strong>Download Reports:</strong> Download your focus
            history in CSV format.
          </li>
          <li>
            <strong>No Template Limit:</strong> Save more than 3
            templates.
          </li>
          <li>
            <strong>Todoist Integration:</strong> Load tasks from your
            Todoist account.
          </li>
          <li>
            <strong>Webhook Integration:</strong> Connect to other apps (Zapier, IFTTT, etc).
          </li>
          <li>
            <strong>No Ads:</strong> Enjoy a clean and
            distraction-free app experience.
          </li>
        </ul>
      </div>

      <div class="download container">
        <h2 class="catchcopy__header">Download App</h2>
        <ul class="features__list">
          <li>
            <a
              href="/downloadable/pomofocus-darwin-x64-1.1.0.zip"
              download
              >For macOS</a
            >
            (zip file) *Right click the icon to open
          </li>
          <!-- <li>
            <a href="/downloadable/pomofocus-1.1.0-setup.zip" download
              >For Windows</a
            >
            (zip file)
          </li> -->
        </ul>
      </div>
    </main>
    <div class="footer">
	<div class="footer__sitemap container">
			<a href="/">HOME</a>
			<a href="/privacy">PRIVACY</a>
			<a href="/terms">TERMS</a>
			<a href="/contact">CONTACT</a>
			<a href="/app">SIMPLE PAGE</a>
	</div>
	<div class="footer__snslinks container">
		<a href="https://www.facebook.com/pomofocus" target="_blank" rel="noopener"><img src="/icons/facebook.png" alt="facebook icon" /></a>		
		<a href="https://twitter.com/pomofocus" target="_blank" rel="noopener"><img src="/icons/twitter.png" alt="twitter icon" /></a>		
				
			<!-- <div class="footer__snslink__ph" >
				<a href="https://www.producthunt.com/posts/pomofocus-io" target="_blank" rel="noopener">P</a>
			</div> -->
		<a href="https://climate.stripe.com/kfwPBZ" target="_blank" rel="noopener">
			<img src="/icons/stripe-climate-badge.png" alt="stripe climate badge" />
		</a>
			<!-- <a href="mailto:pomofocus@gmail.com"><img src="/icons/envelope.png" alt="email icon" /></a> -->
	</div>
		<div class="footer__me">Made with <3 by <a href="https://uzu.works" target="_blank" rel="noopener">Yuya Uzu</a></div>
		<div class="footer__allrights container">&copy;Pomofocus 2024. All Rights Reserved.</div>
	</div>
</div>


    <script>
      const timeWorker = new Worker('js/timeWorker.js');
    </script>

    <script src="/main.bundle.js"></script>

    

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-RJWX36YGT6"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-RJWX36YGT6');
</script>

<!-- New Google Signin -->
<script
  src="https://accounts.google.com/gsi/client"
  async
  defer
></script>

<script type="text/javascript">
  (function() {
    var bsa_optimize = document.createElement('script');
    bsa_optimize.type = 'text/javascript';
    bsa_optimize.async = true;
    bsa_optimize.src =
      'https://cdn4.buysellads.net/pub/pomofocus.js?' +
      (new Date() - (new Date() % 600000));
    (
      document.getElementsByTagName('head')[0] ||
      document.getElementsByTagName('body')[0]
    ).appendChild(bsa_optimize);
  })();
</script>

<script src="https://js.stripe.com/v3" async></script>



    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo93Z6UoLlvljTzZ-KwNufORJWblQbtjs&libraries=places&callback=initMap"></script> -->
  </body>
</html>
