<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
  content="width=device-width, height=device-height,  initial-scale=1.0, "
/>
   
    <title>Tasks</title>
</head>
<body>
    <h1>Tasks</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td>
                    <a th:href="@{/tasks/{id}(id=${task.id})}">Details</a>
                    
                    <button onclick="startTimer('${task.id}', '${task.focusDuration}', '${task.breakDuration}')">Start Timer</button>
                    <div id="timer"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/tasks/create">Create New Task</a>

    <!-- <script>
        function startTimer(taskId, focusDuration, breakDuration) {
             focusDuration = parseInt('${task.focusDuration}');
 breakDuration = parseInt('${task.breakDuration}');
    var timerElement = document.getElementById('timer');
    timerElement.innerHTML = formatTime(focusDuration);

    var focusEndTime = new Date();
    focusEndTime.setSeconds(focusEndTime.getSeconds() + focusDuration);

    var timerInterval = setInterval(function() {
        var now = new Date();
        var remainingTime = Math.max(0, focusEndTime - now);

        if (remainingTime <= 0) {
            clearInterval(timerInterval);
            timerElement.innerHTML = formatTime(breakDuration);
            return;
        }

        timerElement.innerHTML = formatTime(remainingTime);
    }, 1000);
}

function formatTime(timeInSeconds) {
    var minutes = Math.floor(timeInSeconds / 60);
    var seconds = Math.floor(timeInSeconds % 60);
    return minutes.toString().padStart(2, '0') + ":" + seconds.toString().padStart(2, '0');
} -->
    </script>
</body>
</html>