body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    
}

.container {
   
    /* max-width: 1200px; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.timer-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 400px;
  
}

.timer-circle {
    width: 200px;
    height: 200px;
    /* max-width: ; */
    background-color: #ffcccc;
    border-radius: 50%;
    margin: 0 auto 20px;
    /* padding-top: 100px;
    margin-top: 100px;
    margin-bottom: 100px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-circle span {
    font-size: 24px;
    color: #fff;
}

.timer-controls button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #ff6666;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.tasks-container {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
}

.tasks-box {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 300px;
    width: 80%; /* Adjust width as needed */
    margin-bottom: 20px; 
    margin-top: 80px;
    margin-left: 40px;
}

.tasks-scroll table {
    width: 100%;
}

.tasks-scroll table th, .tasks-scroll table td {
    padding: 10px;
}

.add-task-box {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 300px;
    width: 80%; /* Adjust width as needed */
    margin-bottom: 20px; 
    margin-top: 80px;
    margin-left: 40px;
}

.oval-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.oval-button {
    border-radius: 20px;
    background-color: #f3a8a8;
}

.finished-task {
    background-color: #eee;
    text-decoration: line-through;
}

 /* Add your navigation bar CSS styles here */
 .navbar {
    /* Set your desired background color */
    color:#000000; /* Set text color */
    padding: 10px 20px; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-family: "Permanent Marker", cursive;
    font-size: 30px; /* Adjust font size as needed */
}

.navbar-nav {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 10px; /* Adjust spacing between items */
}

.nav-link {
    color: hsl(231, 61%, 22%); /* Set link color */
    text-decoration: none;
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add smooth transition */
}

.nav-link:hover {
    background-color: #555; /* Change background color on hover */
}
