<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finished Tasks</title>
</head>

<body>
    <h1>Finished Tasks</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${finishedTasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.description}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
