<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/listusers.css">
    <title>All users </title>

</head>
<body>
  
        <div id="sidebar">
            <ul id="sidebarul">
                <li> List All Users </li>
                <hr>
                <li> List All Admins  </li>
                <hr>
                <li> Admins Access </li>
            </ul>
                </div>

                <div id="content-div">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.phonenumber}"></td>
                                <td th:text="${user.username}"></td>
                                
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

   
   
</body>
</html>