<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Signup</title>
    <link rel="stylesheet" type="text/css" href="/css/forms.css" />
    <script>
        window.onload = function() {
            var form = document.querySelector('form');
            var usernameInput = document.getElementById('username');
            var passwordInput = document.getElementById('password');

            form.addEventListener('submit', function(event) {
                // Prevent form submission if validation fails
                if (!validateUsername(usernameInput.value) || !validatePassword(passwordInput.value)) {
                    event.preventDefault();
                    return false;
                }
            });

            function validateUsername(username) {
                // Regular expression to match email format
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(username)) {
                    alert('Please enter a valid email address as the username.');
                    return false;
                }
                return true;
            }

            function validatePassword(password) {
                // Check if password is at least 8 characters long
                if (password.length < 8) {
                    alert('Password must be at least 8 characters long.');
                    return false;
                }
                return true;
            }
            function validatePhonenumber(phonenumber) {
               
                if (phonenumber.length != 11) {
                    alert('phone number must be equal 11 digits long.');
                    return false;
                }
                return true;
            }
        };
    </script>
</head>
<body>
    <h1>User Signup</h1>
    <form action="/user/signup" method="post" class="form-container">
        <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" class="oval-input" id="username" name="username" placeholder="please enter your email" required >
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="oval-input" id="name" name="name" placeholder="please enter your name " required title="input">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="oval-input" id="password" name="password" placeholder="please enter 8 or more characters password" required >
        </div>
        <div class="form-group">
            <label for="phonenumber">Phone Number:</label>
            <input type="text" class="oval-input" id="phonenumber" name="phonenumber" placeholder="enter your phone number" required pattern="[0-9]{11}" title="Phone number must be 11 digits long">
        </div>
        <div class="form-group">
            <input type="submit" value="Signup" class="btn-submit">
        </div>
    </form>
</body>
</html>
